* {
    border: 1px solid rgb(60,60,83);
}
h1 {
    color: rgb(253, 253, 253);
    font-size: grande;
    text-align: center;
}
a{
    color: aquamarine;
}

h2 {
    color: rgb(199, 216, 228);
}
h3 {
    font-size: mediano;
    color: cornsilk;
}
p{
    font-size: mediano;
    color: rgb(219, 213, 185);
}

#apartado {
    display: flex;
    justify-content: space-around;
}

body {
    
    background-color: rgb(60, 60, 83);
    
}

img {
    width: 200px;
    height: 200px;
}

.datos {
    text-align: left;
}

#botones {
    width: 100%;
    display: flex;
    justify-content: left;
}
#Experiencia{
    display: none;
}
#Datos{
  display:none;
}
#Formacion{
    display: none;
}
#Informatica{
    display: none;
}
#OtrosDatos{
    display: none;
}
#Cursos{
    display: none;
}
#SituacionLaboral{
    display: none;
}