body{
    background-color: bisque;
}
#conceptos{
    display: flex;
    justify-content: space-around;
}

.none{
    display: none;
    color: darkturquoise;
  
}
.encabezado{

 border: 2px coral solid;

 background-color:blue;
 color: darkorange;
 display: flex;
 justify-content: space-between;
}
.imagenes{

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
}
#icono{
    width: 50px;
    height: 50px;
}
#social{
    display: flex;
    justify-content: flex-start;
}
#nombre{
    font-size: xx-large;
}
.boton{
    padding: 15% 0;
    vertical-align: initial;
    
    

}


}
#sergio{
    border-radius: 100px;
}
#linked{
    width: 200px;
}
#whapp{
    width: 200px;
}
#instag{
    width: 200px;
    
}
#correo{
    text-size-adjust:  ;
    width: 200px;
    color:black;
    border:black solid 2px;
    background-color: white;
    text-align: center
    
}
#ver{
    vertical-align: middle;
    display: flex;
    justify-content: space-around;
    
}